$themeColor: #42b883;

$buttonBackground: #646cff;
$buttonHoverBackground: #535bf2;

$primaryBackground: #213547;
$primaryTextColor: #242424;

$primaryFont: system-ui, Avenir, Helvetica, Arial, sans-serif;